<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>about us</title>
    <link rel="shortcut icon" href="images/about.png" type="image/png">
</head>
<body>
    {{>navbar}}


    <!----- main header  ------>
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!----- left side div ----->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="self" class="img-fluid" style="height: 90%; width: 90%;">
                        </figure>
                    </div>
                    

                    <!----- right side div ----->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather application</p>
                        <h1>I am <span class="text-clr">Mohit Sharma, </span>Mern Stack Developer.</h1>
                        <a href="/weather"><button>check now</button></a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!------footer code  ------>

    {{>footer}}
</body>
</html>